body {
  background-color: #008dcc;
}
.container {
  margin: auto;
  padding: 10px;
}
.content {
  padding: 30px;
  width: 500px;
  height: fit-content;
  border-radius: 10px;
  background-color: white;
}
.progess-card {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  width: 500px;
}

.done-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
}
.btn {
  margin-left: 50px;
}
.row-card {
  display: flex;
  gap: 20px;
}
.header {
  display: flex;
}
